/* GLOBAL RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* END GLOBAL RULES */
/* VARIABLES */
:root {
    --main-color1: #ff3946;
    --main-color2: #314584;
    --main-color3: #6E757A;
    --main-transition: 0.6s;
}
/* END VARIABLES */
/* HTML */
html {
    scroll-behavior: smooth;
}
/* END HTML */
/* BODY */
body {
    font-family: 'Work Sans', sans-serif;
    background-image: url(../images/Bg.\ Shape.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 700px 130px;
}
/* END BODY */
/* CONTAINER */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* END CONTAINER */
/* Start Media Queries For Container */
/* COMPONENT */
.h2-heading {
    color: var(--main-color2);
    font-weight: 600;
    letter-spacing: 1;
    font-size: 40px;
}
.h5-heading {
    color: var(--main-color1);
    letter-spacing: 1.5px;
    font-size: 15px;
    padding-bottom: 10px;
}
/* END COMPONENT */
/* MOBILE */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* End Media Queries For Container */
/* SOME SELECTORS */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* END SOME SELECTORS */
/* HEADER */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
header .container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main-links ul {
    display: flex;
}
header .main-links ul li {
    padding-left: 40px;
}
header .main-links ul li a {
    color: var(--main-color2);
    font-weight: 550;
    font-size: 18px;
}
header .main-links ul li a:hover {
    color: var(--main-color1);
}
header .main-links ul li .active {
    color: var(--main-color1);
}
header li:last-child {
    position: relative;
}
header li:last-child:hover .lang {
    display: flex;
    position: absolute;
    z-index: 100;
    opacity: 1;
}
header li:last-child a i {
    padding-left: 6px;
    position: absolute;
    top: -5px;
}
header .lang {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    top: 22px;
    left: 25px;
    opacity: 0;
    z-index: -2;
}
header nav .main-links .lang li {
    padding: 0;
}
header nav .main-links .lang li:first-child {
    padding: 0;
    margin-top: 15px;
}
header nav .main-links .lang li:last-child {
    padding: 0;
    margin-bottom: 15px;
}
header nav .main-links .lang li a {
    display: block;
    padding: 13px 65px;
    color: white;
    font-weight: 400;
}
header nav .main-links .lang li a:hover {
    color: var(--main-color1);
}
header .head-btn {
    padding-left: 60px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgb(30 32 33 / 7%);
    background-color: white;
    border-radius: 3px;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
header .head-btn a {
    color: var(--main-color1);
    font-weight: 550;
}
/* END HEADER */
/* LANDING */
.landing {
    position: relative;
}
.landing .container {
    display: flex;
}
.landing .container .landing-content {
    margin-top: 260px;
    line-height: 1.3;
    position: relative;
}
.landing .container h1 {
    color: var(--main-color2);
    font-size: 50px;
    font-weight: 600;
    text-align: left;
}
.landing .container p {
    position: absolute;
    color: var(--main-color3);
    line-height: 2;
    width: 500px;
    top: 185px;
}
.landing .container .landing-btns {
    position: absolute;
    top: 280px;
    display: flex;
    align-items: center;
}
.landing .container .landing-btns .landing-btn {
    background-color: var(--main-color1);
    padding: 20px 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 2px var(--main-color1) solid;
}
.landing .container .landing-btns .landing-btn:hover {
    cursor: pointer;
    background-color: white;
    transition: var(--main-transition);
}
.landing .container .landing-btns .landing-btn a {
    color: white;
    font-weight: 600;
}
.landing .container .landing-btns .landing-btn:hover a {
    color: var(--main-color2);
    transition: var(--main-transition);
}
.landing .container .landing-btns .link {
    padding-left: 45px;
    color: var(--main-color2);
    font-weight: 600;
}
.landing .container .landing-btns .link:hover {
    color: var(--main-color1);
    
}
.landing .container .landing-image {
    position: absolute;
    top: 180px;
    left: 800px;
}
.landing .container .landing-image img {
    width: 85%;
}
/* END LANDING */
/* ABOUT US */
.aboutus {
    position: relative;
    top: 350px;
    background-image: url(../images/Bg.\ Shape2.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: -50px 30px;
    height: 900px;
    overflow: hidden;
}
.aboutus .bg-3 {
    position: absolute;
    z-index: -5;
    right: -130px;
    top: 400px;
}
.aboutus .container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.aboutus .aboutus-content {
    max-width: 300px;
}
.aboutus .aboutus-content .aboutus-btn {
    background-color: var(--main-color1);
    padding: 20px;
    width: 170px;
    margin-top: 45px;
    text-align: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 2px var(--main-color1) solid;
}
.aboutus .aboutus-content .aboutus-btn:hover {
    background-color: white;
    color: var(--main-color1);
    cursor: pointer;
    transition: var(--main-transition);
}
.aboutus .aboutus-content .aboutus-btn a {
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.aboutus .aboutus-content .aboutus-btn:hover a {
    color: var(--main-color1);
    transition: var(--main-transition);
}
.aboutus .aboutus-cards {
    display: flex;
    gap: 50px;
    padding-left: 70px;
}
.aboutus .aboutus-cards .card {
    background-color: white;
    padding: 40px;
    height: 350px;
    width: 320px;
    box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
}
.aboutus .aboutus-cards .card h3 {
    color: var(--main-color2);
    font-size: 30px;
    font-weight: 550;
}
.aboutus .aboutus-cards .card p {
    padding-top: 20px;
    color: var(--main-color2);
    line-height: 1.5;
}
.aboutus .container .aboutus-section2 {
    display: flex;
    position: relative;
    top: 50px;
}
.aboutus .container .aboutus-section2 img {
    width: 80%;
}
.aboutus .container .aboutus-content2 {
    width: 500px;
    left: 620px;
    position: absolute;
}
.aboutus .container .aboutus-content2 p {
    padding-top: 20px;
    color: var(--main-color2);
    line-height: 1.8;
    font-size: 18px;
}
/* END ABOUT US */
/* PORTFOLIO */
.portfolio {
    position: relative;
    top: 400px;
}
.portfolio .bg-4 {
    position: absolute;
    top: 15px;
    left: -70px;
    z-index: -5;
}
.portfolio .container {
    position: relative;
}
.portfolio .container .cards {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 30px;
}
.portfolio .container .cards .card {
    width: 320px;
    height: 270px;
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
.portfolio .container .cards .card::before {
    content: "";
    opacity: 0.8;
    position: absolute;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: var(--main-color2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.portfolio .container .cards .card:hover::before {
    content: "";
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: var(--main-color2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), scale(10deg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%), scale(10deg);
    -moz-transform: translate(-50%, -50%), scale(10deg);
    -ms-transform: translate(-50%, -50%), scale(10deg);
    -o-transform: translate(-50%, -50%), scale(10deg);
}
.portfolio .container .cards .card::after {
    content: "Awesome Work";
    color: white;
    position: absolute;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%);
    top: 70%;
    opacity: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.portfolio .container .cards .card:hover::after {
    top: 50%;
    transform: translate(-50%); 
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
    opacity: 1;
}
.portfolio .container .cards .card img {
    width: 100%;
}
.portfolio .container a {
    display: block;
    position: absolute;
    color: var(--main-color1);
    font-weight: 600;
    bottom: -50px;
    left: 50%;
    transform: translatex(-50%);
    letter-spacing: 1.5px;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.portfolio .container a:hover {
    color: var(--main-color2);
}
/* END PORTFOLIO */
/* BLOG */
.blog {
    position: relative;
    top: 620px;
}
.blog .container .arrows {
    display: flex;
    justify-content: flex-end;
    color: var(--main-color3);
    padding-right: 15px;
}
.blog .container .arrows i {
    padding-left: 15px;
    font-size: 25px;
    cursor: pointer;
}
.blog .container .arrows i:hover {
    color: var(--main-color2);
}
.blog .container .cards {
    padding-top: 10px;
    display: flex;
    gap: 25px;
}   
.blog .container .cards .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 40px 35px;
    box-shadow: 0px 3px 7px 0px rgb(28 31 33 / 15%);
}
.blog .container .cards .card h5 {
    letter-spacing: 1px;
    color: var(--main-color2);
    font-size: 18px;
}
.blog .container .cards .card .date {
    color: var(--main-color3);
    font-size: 15px;
    padding-top: 10px;
}
.blog .container .cards .card .details {
    color: var(--main-color2);
    padding-top: 20px;
    line-height: 2;
    font-size: 18px;
}
.blog .blog-btn {
    display: block;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
}
.blog .blog-btn:hover {
    color: var(--main-color2);
}
/* END BLOG */
/* CONTACT US */
.contactus {
    position: relative;
    top: 700px;
}
.contactus .container form {
    padding-top: 50px;
    position: relative;
}
.contactus .container form .inputs {
    display: flex;
    justify-content: space-between;
}
.contactus .container form input {
    background-color: #F4FAFE;
    width: 49%;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 13px;
    color: var(--main-color2);
    font-weight: bold;
}
.contactus .container form input::placeholder {
    font-size: 13px;
    color: var(--main-color2);
    font-weight: bold;
}
.contactus .container form .area {
    padding-top: 30px;
}
.contactus .container form .area textarea {
    background-color: #F4FAFE;
    width: 100%;
    height: 150px;
    outline: none;
    border: none;
    padding: 15px;
    font-size: 13px;
    color: var(--main-color2);
    font-weight: bold;
}
.contactus .container form textarea::placeholder {
    font-size: 13px;
    color: var(--main-color2);
    font-weight: bold;
}
.contactus .container form .send {
    color: white;
    background-color: var(--main-color1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    width: 170px;
    cursor: pointer;
    border: 2px solid var(--main-color1);
}
.contactus .container form .send:hover {
    background-color: white;
    color: var(--main-color2);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
/* END CONTACT US */
/* FOOTER */
footer {
    position: relative;
    top: 900px;
    background-color: var(--main-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h6 {
    color: white;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 15px;
}
footer h2 {
    color: var(--main-color1);
    font-size: 40px;
    padding-bottom: 20px;
}
footer .foot-links {
    display: flex;
    padding-bottom: 35px;
}
footer .foot-links li {
    padding-left: 20px;
    padding-right: 20px;
}
footer .foot-links li a {
    color: white;
    font-weight: bold;
}
footer .foot-links li a:hover {
    color: var(--main-color1);
}
footer p {
    color: white;
    font-size: 13px;
    padding-bottom: 30px;
}
footer .icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
footer .icons i {
    font-size: 35px;
    color: white;
}
footer .icons i:hover {
    color: var(--main-color1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
/* END FOOTER */
